<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Static Website Express Example</title>
    <link rel="stylesheet" href="CSS/style.css">
</head>
<body>
    <div id="container">  
        <h1>Welcome to the About Page!</h1>
        <nav>
            <a href="index.html">Home</a>
            <a href="#">About</a>
        </nav>
        <img src="images/snoopy.jpg" alt="Snoopy" width="400">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat fuga distinctio ab nisi necessitatibus cupiditate praesentium mollitia. Sapiente quasi, tempora cum nostrum perspiciatis dolore cumque esse quo alias iste nisi.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. At nostrum dolore ea ad dicta beatae numquam minima fugit vel, exercitationem excepturi consequatur autem quod mollitia expedita dolorum quidem aliquid alias?</p>
    </div>
</body>
</html>